
body {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.btn {
    display: block;
    width: 250px;
    padding: 12px 20px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkblue;
    color:whitesmoke;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
