body{
	background-color: skyblue;
	justify-items: center;
}

form{
  width:50%;
  margin: 30px auto;
  padding: 20px;
  background:whitesmoke;
  border-radius: 10%;
}

form input{
	border-top:10px;
	width: 90%;
  	padding: 10px;
  	margin-bottom: 15px;
  	border-radius: 6px;
  	font-size: 16px;
}
form .error{
	border-top:6px;
	width: 100%;
  	padding: 6px;
  	margin-bottom: 6px;
  	font-size: 14px;
  	color:red;
}

form #Success{
	border-top:6px;
	width: 100%;
  	padding: 6px;
  	margin-bottom: 6px;
  	font-size: 14px;
  	color:green;
}

form input[type="submit"]:hover{
	cursor: pointer;
	background-color:greenyellow;

}